<div class="container-fluid container-diff">
  <div class="text-center">
    <h1>Angular - Text Compare Tool</h1>
    <p>
      Built with <a href="https://angular.io/">Angular</a> and
      <a href="https://microsoft.github.io/monaco-editor/index.html"
        >Monaco Editor</a
      >
    </p>
  </div>
  <div *ngIf="isCompared" class="row">
    <div class="col-md-11">
      <form class="form-inline " role="form">
        <label for="lang" class="mb-2 mr-sm-2">Language:</label>
        <select
          id="lang"
          name="lang"
          class="form-control mb-2 mr-sm-2"
          [(ngModel)]="selectedLang"
          (change)="onChangeLanguage($event.target.value)"
        >
          <option *ngFor="let option of languages" [value]="option">{{
            option
          }}</option>
        </select>
        <label for="theme" class="mb-2 mr-sm-2">Theme:</label>
        <select
          id="theme"
          name="theme"
          class="form-control mb-2 mr-sm-2"
          [(ngModel)]="selectedTheme"
          (change)="onChangeTheme($event.target.value)"
        >
          <option *ngFor="let option of themes" [value]="option.value">{{
            option.name
          }}</option>
        </select>
        <div class="form-check mb-2 mr-sm-2">
          <label class="form-check-label">
            <input
              class="form-check-input "
              type="checkbox"
              (change)="onChangeInline($event.target.checked)"
            />
            Inline Diff
          </label>
        </div>
      </form>
    </div>
    <div class="col-md-1">
      <button
        type="button"
        class="btn btn-danger float-md-right"
        (click)="onClear()"
      >
        Clear
      </button>
    </div>
  </div>
  <div *ngIf="isCompared" class="row">
    <div class="col-md-12 editor editor-size">
      <ngx-monaco-diff-editor
        id="diffeditor"
        [options]="diffOptions"
        [originalModel]="originalModel"
        [modifiedModel]="modifiedModel"
      ></ngx-monaco-diff-editor>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center; margin:10px 0px">
      <button type="button" class="btn btn-success" (click)="onCompare()">
        Compare
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 editor-size">
      <div class="input-title">
        <label>Text1</label>
      </div>
      <textarea
        class="form-control"
        rows="4"
        id="editor1"
        [(ngModel)]="text1"
      ></textarea>
      <!--
      <ngx-monaco-editor
        id="editor1"
        [options]="inputOptions"
        [(ngModel)]="text1"
      ></ngx-monaco-editor>-->
    </div>
    <div class="col-md-6 editor-size">
      <div class="input-title">
        <label>Text2</label>
      </div>
      <textarea
        class="form-control"
        rows="4"
        id="editor2"
        [(ngModel)]="text2"
      ></textarea>
      <!--
      <ngx-monaco-editor
        id="editor2"
        [options]="inputOptions"
        [(ngModel)]="text2"
      ></ngx-monaco-editor>-->
    </div>
  </div>
</div>
<br />
<br />
